:root {
  --max-width: 1000px;
  --text-dark: #282828;
  --text-medium: #383838;
  --text-light: #5e5e5e;
  --text-variant: #9c4900;
  --link-color: #7700b2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
}

main {
  margin-bottom: 2rem;
}

section {
  margin-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: var(--text-dark);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-medium);
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-variant);
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e8cbb8;
  margin-top: 4px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-medium);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.main-container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
