---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const allRecipes = await Astro.glob("../pages/recettes/*.md");

const recipes = allRecipes.map((recipe) => {
  const {
    uri,
    title,
    shortDescription: description,
    image,
  } = recipe.frontmatter;
  return {
    title,
    description,
    image: `/images/${image}`,
    href: `/recettes/${uri}`,
  };
});
---

<Layout title="Gastronomie Franco">
  <main>
    <header>
      <h1>Gastronomie Franco</h1>
    </header>
    <div class="main-container">
      <p class="intro">
        Amy, Jingxuan, kim et Sophie allons faire un tour de la gastronomie de 4
        regions francophones, la France, le Maroc, le Martinique et l’Acadie en
        essayant de cuisiner un plat d’origine de chacune de ces regions. On va
        prendre en video nos preparations, nos discussions, et nos produits
        finaux, echues ou reussis. A la fin, on va presenter toutes les quatre
        nos reflexions par rapport a cette experience enrichissante. Venez voir!
      </p>
      <section>
        <h2>Nos Plats</h2>
        <div class="grid-container">
          {
            recipes.map((recipe) => {
              return <Card {...recipe} />;
            })
          }
        </div>
      </section>
      <section>
        <h2>Reflexions</h2>
        <p class="reflexion-intro">
          Apres on a fait chacun notre plat, on s’est reunit pour discuter ce
          qu’on a appris ainsi que nos reflexions.
        </p>
        <div class="video-container">
          <video src="/videos/reflexions.mp4" controls></video>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  header {
    height: 30vh;
    background: rgb(255, 106, 205);
    background: linear-gradient(
      90deg,
      rgba(255, 106, 205, 1) 0%,
      rgba(255, 110, 110, 1) 40%,
      rgba(254, 188, 95, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro {
    margin-top: 2rem;
  }
  .intro::first-letter {
    font-size: 300%;
    color: var(--text-variant);
    margin-right: 4px;
    line-height: 1rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem 4rem;
    }
  }

  .reflexion-intro {
    margin-top: 1rem;
  }
</style>
